/*! modules inclusion */
@import '../utility/default';

/*! Variable Declaration */

$header-height : 3rem;
$header-position: initial;
$footer-height: 3rem;
$footer-position: fixed;

.header {
    @if $header-position==fixed {
        @include fixed-position-top-bottom-left-zero(fixed, top);

    }

    width:100%;
    height:$header-height;
    background: $primary-color;


}


.footer {
    @if $footer-position==fixed {
        @include fixed-position-top-bottom-left-zero(fixed, bottom);
    }

    height: $footer-height;
    width: 100%;
    background: $primary-color;

}

.main-container {
    @include flex-direction-wrap(row, nowrap);

    @if $header-position==fixed {
        margin-top: $header-height + 2rem;

    }
    @else {
        margin-top: 2rem;
    }

    width: 100%;

    .main-container__left {

        @include flex-direction-wrap(column, wrap);

    }

    .main-container__right {

        @include flex-direction-wrap(row, wrap);


    }

}