/*! modules inclusion */
@import '../utility/default';

/*! Variable Declaration */

$header-height : 3rem;
$header-position: initial;
$footer-height: 3rem;
$footer-position: fixed;

.header {
    @if $header-position==fixed {
        @include fixed-position-top-bottom-left-zero(fixed, top);

    }

    width:100%;
    height:$header-height;
    background: $primary-color;


}


.footer {
    @if $footer-position==fixed {
        @include fixed-position-top-bottom-left-zero(fixed, bottom);
    }

    height: $footer-height;
    width: 100%;
    background: $primary-color;

}

.main-wrapper {
    @include flex-direction-wrap(row, nowrap);

    @if $header-position==fixed {
        margin-top: $header-height + 1rem;

    }

    @else {
        margin-top: 0.8rem;
    }

    width: 100%;
    margin: 0.1rem;

    .main-wrapper__left {

        @include flex-direction-wrap(column, wrap);

    }

    .main-wrapper__right {

        @include flex-direction-wrap(row, wrap);


    }

}