$logo-wrapper-width: 8%;
$logo-font-size: ($header-height/100)*80;


.header__logo {
    width: $logo-wrapper-width;
    margin: 0.2rem 0.5rem;
    padding: 0.1rem 1rem;


    .logo {
        padding: 0.1em;
        font-size: $logo-font-size;
        color: $primary-color-text;


    }


}