// // module inclusion

$main-wrapper-left-width: 10%;

.main-wrapper {
    padding: 1rem;
    margin-bottom: $footer-height + 1rem;

    .main-wrapper--left {
        @include flex-direction-wrap(column, nowrap);
        align-items: center;
        width: $main-wrapper-left-width;
    }

    .main-wrapper--right {
        @include flex-direction-wrap(row, wrap);
    }

}