// // module inclusion

$main-container-left-width: 10%;

.main-container {
    padding: 1rem;
    margin-bottom: $footer-height + 1rem;

    .main-container__left {
        @include flex-direction-wrap(column, nowrap);
        align-items: center;
        width: $main-container-left-width;
    }

    .main-container__right {
        @include flex-direction-wrap(row, wrap);
    }

}