.main-wrapper--left__word-container {

    @include flex-direction-wrap(column, nowrap);
    @include font-styler(400, 4rem, serif);
    width: 100%;
    justify-content: space-around;

    .main-wrapper--left__word-container__blocks {
        align-items: stretch;
        @include flex-direction-wrap(column, nowrap);
        

        .words {
            margin: 0.1rem;
            text-align: center;
            background: $triadic-color3;
            color: $primary-color-text;

        }
    }
}