$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;   
$primary-color-text:   #FFFFFF;  //Used for text on primary color and icons
$accent-color:         #CDDC39; //used for emphasis in a color scheme
$primary-text-color:   #212121;	  //Used for Primary text
$secondary-text-color: #757575;	  //Used for secondary text
$divider-color:        #BDBDBD;

