$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF; //Used for text on primary color and icons
$accent-color: #CDDC39; //used for emphasis in a color scheme
$primary-text-color: #212121; //Used for Primary text
$secondary-text-color: #757575; //Used for secondary text
$divider-color: #BDBDBD;
$primary-color-complement: #f44e03;
$split-complementary-color1: #f4c703;
$split-complementary-color3: #f40331;
$analogous-color1: #03f4c7;
$analogous-color3:#0331f4;
$triadic-color1: #a9f403;
$triadic-color3: #f403a9;
$tetradic-color4: #f44e03;
$social-media-icons-color:( 
//$facebook-icon-color: 
#3b5998,
//$instagram-icon-color: 
#517fa4,
//$twitter-icon-color: 
#55acee,
//$linkedin-icon-color: 
#0077b5);